os: linux
dist: xenial
language: python
matrix:
  include:
    - stage: build
      python: '2.7'
      install:
        - pip install -U pip setuptools "flake8~=3.7,>=3.7.8"
        - pip install .[testing]
      script:
        - pytest --cov-report term-missing
        - flake8 .
    - stage: build
      python: '3.5'
      install:
        - pip install -U pip setuptools
        - pip install .[testing]
      script:
        - pytest --cov-report term-missing
    - stage: build
      python: '3.6'
      install:
        - pip install -U pip setuptools "flake8~=3.7,>=3.7.8"
        - pip install .[testing]
      script:
        - pytest --cov-report term-missing
        - flake8 .
    - stage: build
      python: '3.7'
      install:
        - pip install -U pip setuptools
        - pip install .[testing]
      script:
        - pytest --cov-report term-missing
        - mypy .
    - stage: build
      python: '3.8'
      install:
        - pip install -U pip setuptools
        - pip install .[testing]
      script:
        - pytest --cov-report term-missing
        - mypy .
    - stage: deploy
      if: tag =~ ^[0-9]+\.[0-9]+\.[0-9]+
      python: '3.6'
      script: skip
      install:
        - pip install -U pip setuptools pyopenssl
      deploy:
        provider: pypi
        username: eventbrite
        password:
           secure: qluSB1MjW1jwe61II0ZQK6FwgoS/lFLTpG3sSasJ5iIlbeXcW53RIMt1DIbWZpv8EXuzvOuZ3vrvilUaOeNXeDuLScVxEtXDND+l7WBswRXhE5m2CrfltwbPv+bbRSwhrj2x7kfIYHlggjJZ4Eal4oat0mJpj2N/a5T4NZCPrwId/2syt0r7bMXIUOBtcYKoWAu6OBiFPqWzSXRv0tIhUL56ELSO316A56rcK4tSUB6095b9zJNrbWH0LFYsSHdHgW+hwUvQuss28q9NsmOvAJKlAXdzMhpxpmICkGvhRFl8AsowvzW45re6vwK465y0Ip02k6JTAYIqIfpjLmtL55APv6q6g9TIZB2QvMjxlOGS0W9ZapwVnnqU/ajhORFXDLCCvk4fsOjcVEX8Q3zJCyT4Ndbeumhs67HZwcNCg7Qvsr2RWwhZRUpvUW405BNCooancv76IPOe/gF9gH4iF/eBVrokOE3Io5XP33fbQFlqUiNL3b5Hg4bp64Hw8YkQ6WTiy12gSVoiXQrZz0MNNVHHTUB4w52JFuTk5NWh/gMxtjbj18+MukWIfdsAusrU7Elq7DH2OqdY6cNRqgr5Zy84YCXxGGe6PYZjh1xot9eLRVHBuengYo24CWX306Vj5MK2ojxdZkl7LiYZGN5qqf4EO606otGq8JiFa5ZBcts=
        distributions: "sdist bdist_wheel"
        on:
          tags: true
